body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 500px;
  background: #fff;
  margin: 16px auto;
}

.title {
  margin: 0;
  font-size: 16px;
}

.button-container {
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
}

.title,
.button-container,
.content {
  background: #e3f4ff;
  padding: 10px;
  border: 8px solid #fff;
}

.content {
  border-top: 0px;
  border-bottom: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

